@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@theme {
  --color-main-500: #004AAD;
  --color-main-100: #B0C7E6;
}
.font-almarai {
  font-family: "Almarai", sans-serif;
}